<section class="card">
    <a href="/recipes/{{id}}">
    <header>{{recipe}}</header>

    <div class="card-body">
        <img src="/images/{{filename}}" alt="{{description}}">
        <p>By: {{user}}</p>
    </div>
    </a>
    </section>