<section class="recipe">
    <img src="/images/{{recipe.filename}}" alt="{{recipe.description}}">
    <div class="recipe-details">
        <h3>{{recipe.recipe}}</h3>
        <p>By:{{recipe.username}}</p>
        <p>{{recipe.description}}</p>
    </div>
    </section>